@font-face {
    font-family: 'Harry Potter';
    src: url('./fonts/HARRYP__.TTF') format('truetype');
  }

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./Images/HPBg.jpg');
    background-size: auto;
    background-repeat: repeat;
}

.hide {
    display: none;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    text-align: center;

}

.header {
    background-color: #871f0c;
    height: 19vh;
    width: 100vw;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.page-logo {
    cursor: pointer;
    margin-top: 0.1rem;
    margin-left: -4rem;
    margin-right: 25rem;
}

.menu-btns {
    padding: 0.6rem 1.5rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    font-family: 'Harry Potter';
    font-weight: lighter;
    font-size: 2rem;
    border: 7px;
    box-shadow: 4px 3px rgba(54, 53, 53, 0.747);
    text-shadow: 2px 1px #1616162e;
    background-color: #e3a302;
    color: #193833;
}

.menu-btns:hover, .return-btn:hover, .house-btn:hover {
    cursor: pointer;
    background-color: #212125f3;
    color: white;
}

.main-container {
    margin: auto;
    height: 100vh;
}

.golden-snitch {
    margin-left: 43rem;
    margin-top: -8rem;
    margin-bottom: 2rem;
}

.welcome {
    position: relative;
    background-color: #f5e7d1;
    color: white;
    border-radius: 25px;
    padding: 0.10rem 1.2rem;
    width: 80%;
    box-shadow: 6px 5px #1616162e;
}

.welcome-title {
    font-size: 5.2em;
    font-weight: 150;
    font-family: "Harry Potter";
    color: #193833;
    text-shadow: 3px 3px #1616162e;
}

.welcome-description {
    background-color: #6d1e0627;
    width: 65%;
    margin: auto;
    border-radius: 15px;
    margin-top: -2rem;
    padding: 0.5rem 0.8rem;
    margin-bottom: 2rem;
    font-size: 2.2em;
    font-weight: lighter;
    font-style: oblique;
    color: #6d1e06;
}

.welcome-text {
    width: 75%;
    margin: auto;
    color:#333535;
    margin-bottom: 1.9rem;
    font-size: 1.9em;
}

.footer {
    background-color: #871f0c;
    height: 3.1rem;
    padding-bottom: 1rem;
    min-width: 100%;
    gap: 0.5rem;
}

.footer-title, .footer-link {
    font-family: "Harry Potter";
    font-weight: 100;
    font-size: 1.7em;
    text-shadow: 3px 2px #1616162e;
    color: white;
    margin-block-start: 1.8rem;
}

.footer-copyright {
    color: #ffac1d;
    margin-top: 0.3rem;
    font-size: 1.4em;
    font-weight: light;
    margin-block-start: 1.2rem;
}

.modal-list {
    position: relative;
    width: 45rem;
    height: 26rem;
    margin-top: 0.1rem;
    background: #802117;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.lists-content {
    text-justify: center;
    overflow-y: scroll;
    font-size: 1.8em;
    font-family: "Roboto";
    margin: 0 auto;
    margin-top: 1.2rem;
    margin-bottom: -0.4rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 40rem;
    max-height: 11rem;
    background: white;
    color: #001eff;
}

.list-elements {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.list-elements:hover {
    font-size: 1.5em;
    color: rgb(131, 18, 3);
    cursor: pointer;
    text-decoration: underline;
}

.modal-header {
    padding-top: 0.6rem;
    position: relative;
    margin-top: 0.8rem;
    background: #DC9E00;
    font-family: "Harry Potter";
    font-size: 2.2em;
    font-weight: 100;
    color: #193833;
}

.sort {
    margin-left: 27.5rem;
    margin-top: -2.1rem;
    opacity: 85%;
}

.modal-text {
    font-family: "Nunito";
    color: #F7F7F7;
    font-size: 1.5em;
    margin-top: -0.5rem;
    margin-bottom: 1.1rem;
}

.house-text {
    color: #F7F7F7;
    font-size: 1.5em;
    margin-left: 10rem;
    margin-top: -0.5rem;
}

.horizontal-center {
    margin-left: 16.5em;
    margin-top: -0.3rem;
}

.search-bar {
    margin-left: 14.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
    border-radius: 6px;
    padding: 0.2rem 1rem;
}

.house-btn {
    margin-left: 1.5rem;
    padding: 0rem 0.1rem;
    margin-bottom: 0.2rem;
    border-width: 1px;
    border-radius: 5px;
    font-family: 'Harry Potter';
    font-weight: lighter;
    font-size: 1.4em;
    text-shadow: 2px 1px #1616162e;
    background-color: #DC9F03;
    color: #193833;
}

.footer-modal {
    position: relative;
    margin-top: 2rem;
    font-family: "Nunito";
    color: #F7F7F7;
    font-size: 1.8em;
    margin-bottom: 1.1rem;
    padding: 0.1rem;
    margin-inline: 2rem;
    background: #802117;
    box-shadow: 5px #0b1c19;
    border-radius: 5px;
    padding-bottom: 0.6rem;
}

.house-name {
    font-weight: bold;
    color: #DC9E00;
    font-style: italic;
}

.modal-card {
    display: flex;
    margin: 0 auto;
    background-color: #7e1d00fd;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
    padding-block-end: 4rem;
    height: 24rem;
    width: 45rem;
    position: relative;
    border-radius: 5px;
}

.card-title {
    margin-top: 0.8rem;
    padding-top: 0.6rem;
    background-color:#DC9E00;
    font-family: 'Harry Potter';
    font-size: 3em;
    font-weight: 300;
    color: #0b1c19;
}

.card-content {
    font-family: 'Roboto';
    font-size: 2em;
    background-color: white;
    padding-left: 2rem;
    padding-block-start:2rem;
    margin-inline: 2rem;
    overflow-y: scroll;
    height: 15rem;
}

.card-content-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #193833;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0.1rem;
}

.card-line {
    text-align: justify;
    margin-bottom: 1rem;
    margin-right: 1.8rem;
}

.return-btn {
    background-color: #191c1f;
    color: white;
    font-family: 'Harry Potter';
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    border: 0px;
    border-radius: 13px;
    padding: 0.7rem 1rem;
    position: relative;
    margin-left: 20rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .header {
        min-width: 100%;
        max-height: 25vh;
        background-image: url('./Images/Logo.svg');
        background-position-x: 50%;
        background-position-y: 1.5vh;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 9999;
    }

    .page-logo {
        visibility: hidden;
    }

    .menu-btns {
        margin-left: 1rem;
        padding: 0.3rem 0.3rem;
        border-width: 1.5px;
        border-radius: 30px;
        font-size: 1.5em;
    }

    .welcome {
        margin-left: -13rem;
        color: white;
        max-width: 30%;
        min-height: 35%;
        padding: 0.5rem;
        border-radius: 15px;
    }

    .welcome-title {
        margin-block-start: 0.2rem;
        margin-block-end: 0.3rem;
        font-size: 1.5rem;
        font-weight: 150;
    }

    .welcome-description, .welcome-text {
        margin-block-start: 0.2rem;
        margin-block-end: 0.2rem;
        font-size: 0.85rem;
    }

    .golden-snitch {
        visibility: hidden;
    }

    .search-bar {
        font-size: 1em;
        margin-left: 5.5rem;
        margin-bottom: -1rem;
        padding: 0.1rem;
    }

    .footer {
        min-width: 100%;
        min-height: 2.5rem;
    }

    .footer-link {
        margin-block-end: 0.9rem;
        color: white;
        font-size: 1.2em;
    }

    .footer-copyright {
        color: #ad7d01;
        font-size: 0.7rem;
    }
    
    .modal-list {
        width: 19rem;
        height: 23rem;
    }

    .modal-characters-content, .modal-books-content, .modal-spells-content {
        font-size: 0.7rem;
        margin-top: 1.2rem;
        padding: 0.2rem;
        width: 16rem;
        height: 12rem;
    }

    .modal-header {
        padding-top: 0.2rem;
        margin-top: 0.6rem;
        font-family: "Harry Potter";
        font-size: 1rem;
        font-weight: light;
    }

    .modal-text {
        color: #F7F7F7;
        font-size: 0.7rem;
        margin-top: -0.2rem;
        margin-bottom: -1.5rem;
    }

    .horizontal-center {
        margin-top: 2rem;
        margin-left: 3.7rem;
        margin-bottom: -0.7rem;
    }

    .house-btn {
        margin-left: 0.1rem;
        padding: 0.1rem;
        border-color: #DC9F03;
        border-width: 1px;
        border-radius: 5px;
        font-weight: lighter;
        font-size: 0.55rem;
        text-shadow: 2px 1px #1616162e;
        background-color: #DC9F03;
        color: #193833;
    }

    .sort {
        border-radius: 0.4rem;
        padding: -0.5rem;
        font-size: 0.5rem;
        margin-left: 0.3rem;
    }

    .modal-card {
        width: 18rem;
        height: 18rem;
    }
    
    .card-title {
        margin-top: 0.6rem;
        padding-top: 0.2rem;
        font-size: 1rem;
    }
    
    .card-content {
        font-family: 'Roboto';
        font-size: 0.8rem;
        overflow-y: scroll;
        height: 11rem;
        padding-left: 1.8rem;
        padding-bottom:1.9rem;
        margin-left: 1.9rem;
    }
    
    .card-content-heading {
        font-size: 0.8rem;
    }
    
    .return-btn {
        font-size: 0.8rem;
        border-radius: 5px;
        padding: 0.1rem 0.1rem;
        position: relative;
        margin-left: 7.8rem;
        margin-top: 1rem;
    }

    .footer-modal {
        padding: 0.1rem;
        margin-inline: 2rem;
        margin-top: 0.9rem;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }

    .card-line {
        text-align:justify;
        margin-left: -0.9rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }    
    
}